= simple_form_for(@event) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :date, :as => :string, :input_html => { :class => 'datepicker' }
    = f.input :location
    = f.input :description
  .form-actions
    = f.button :submit
