%p#notice= notice

%p
  %b Name:
  = @project.name
%p
  %b Url:
  = @project.url
%p
  %b Creater:
  = @project.creater
- if can? :modify, @project
  = link_to 'Edit', edit_project_path(@project)
%br
= link_to 'Back', projects_path
