= link_to "北京Rubyist", root_path, :class => 'brand'
.nav-collapse
  %ul.nav
    %li= link_to "Event", events_path
    /  %li= link_to "People", people_path
    %li= link_to "Projects", projects_path
    %li= link_to "Join Us", join_us_path
/ /.nav-collapse
%ul.nav.pull-right
  - if user_signed_in?
    %li
      = link_to 'Logout', destroy_user_session_path, :method=>'delete'
  - else
    %li
      = link_to 'Login', new_user_session_path
    %li
      = link_to 'Sign in with github', user_omniauth_authorize_path(:github)
  - if user_signed_in?
    %li
      = link_to 'Edit account', edit_user_registration_path
    - if current_user.has_role? :admin
      %li
        = link_to 'Admin', users_path
  - else
    %li
      = link_to 'Sign up', new_user_registration_path